.dropdown-wrapper {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 220px;
  border-radius: 6px;
  border: 1px solid #797979;
  cursor: pointer;
  position: relative;
  color: #cfcfcf;
}

.dropdown-button {
  background-color: transparent;
  color: #cfcfcf;
  border: none;
  cursor: pointer;
  width: 220px;
}

.dropdown-wrapper:hover {
  background-color: #a3a3a3;
  color: #0a0a0a;
}

.dropdown-button:hover {
  color: #0a0a0a;
}

.dropdown-button:hover .about-icon {
  color: #0a0a0a;
}

.dropdown-panel {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: scaleY(0.5) translate(-50%, -15px);
  transform-origin: top;
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.25s cubic-bezier(0.22, 1.4, 0.36, 1),
    opacity 0.2s ease;

  z-index: 10;
  background-color: black;
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 10px;
  min-width: 500px;
  max-height: 1200px;
  color: #cfcfcf;
  margin-top: 70px;
}

.dropdown-panel.show {
  transform: scaleY(1) translate(-50%, 0);
  opacity: 1;
  pointer-events: auto;
}

.dropdown-panel.show p {
  margin: 20px 0;
}

.about-icon {
  display: inline;
  margin-left: 3px;
  margin-bottom: 2px;
  margin-top: 1px;
  color: #cfcfcf;
  vertical-align: middle;
}

.about-text {
  display: inline;
  vertical-align: middle;
  font-size: 16px;
}

@media (max-width: 600px) {

  .dropdown-panel {
    min-width: 80%;
  }
}