.timer-wrapper {
  position: relative;
  display: inline-block;
}
#timerCircle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.3); /* Keeps static border */
  margin-top: 30%;
}

#innerCircle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#timerCircle span {
  z-index: 1;
}


#time {
    font-size: 42px;
    font-family: 'Arial', sans-serif;
    font-weight: 100;
    color: #a3a3a3;
}
#timerText {
    font-size: 16px;
    color: #a3a3a3;

}
@media (max-width: 600px) {
  #timerCircle {
    width: 300px;
    height: 300px;
  }
  #innerCircle {
    width: 250px;
    height: 250px;
  }
}