* {
    margin: 0;
    box-sizing: border-box;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;

}
.fade-in{
  opacity: 1;
  transition: opacity 1s ease-in;
}

body {
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    background-color: #0a0a0a;
    color: #cfcfcf;
}

.collapsible-header {
  position: absolute;
  top: 6.5px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  margin-top: 5px;
  height: 25px;
  width: 120px;
}
.graph {
  position: absolute;
  top: 20px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  width: 600px;
  height: 600px;
  margin-top: 90px;
  margin-right: 5px;
  padding-bottom: 60px;
  padding-right: 5px;
  padding-left: 5px;
  border: solid;
  border-color: grey;
  background-color: #000 !important;
  border-radius: 2px;
}
.darkenAndBlur-expanded {
  pointer-events: none;
  filter: blur(100px) brightness(0);
}


@media (min-width: 600px) and (max-width: 1050px) {
  .graph {
    width: 500px;
    height: 520px;
  }
}
@media (max-width: 600px) {
  .graph {
    right: auto;
    width: 90vw;
    height: 95vw;
  }

}


.collapsible-header h3 {
  margin: 0;
}

.collapsible-header span {
  font-size: 15px;
}

.collapsible-content {
  padding: 10px;
  border: 1px solid #cfcfcf;
  border-top: none;
}

.header-container {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  justify-content: flex-end; /* Aligns items to the right */
  position: absolute;
  top: 6px; /* Adjust as needed */
  right: 5px;
  gap: 10px; /* Space between elements */
}

.graph canvas {
  margin-top: 10px;
}
.button-icon-audio {
    position: absolute;
    top: 11px;
    right: 14px;
    background-color: #242424;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    border-color:#cfcfcf
}

.button-icon-audio img {
    width: 15px;
    height: 15px;
}

.button-icon {
    background-color: #cfcfcf;
}
.button-icon svg {
        fill: #cfcfcf; /* Default fill color */
        transition: fill 0.3s;
}
.button-icon:hover svg {
        fill: #000; /* Inverted fill color */
}
.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  margin: 20px;
  background-color: inherit;
}
#timerCircle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2rem;
  color: #cfcfcf;
  top: -40px;
  border: 5px solid rgba(255, 255, 255, 0.3); /* Keeps static border */
}

#innerCircle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}


#timerCircle span {
  z-index: 1;
}


#time {
    font-size: 48px;
}
#bePresent {
    font-size: 13px;
    color: #cfcfcf;

}

.controls button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #cfcfcf;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.controls button:hover {
    background-color: #a3a3a3;
    color: #000;
}

#logContainer {
    margin-top: 20px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

#logContainer table {
    border-collapse: collapse;
    width: 100%;
}

#logContainer th, #logContainer td {
    border: 1px solid #ffffff;
    padding: 5px;
    text-align: center;
    color: #ffffff;
}
#logContainer td {
    width: 40px;
    white-space: nowrap;

}

.warning {
  top: -40px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;

}
