* {
    margin: 0;
    box-sizing: border-box;
}
.fade-out {
  opacity: 0;
  transition: opacity 2s ease-out;

}
.fade-in{
  opacity: 1;
  transition: opacity 2s ease-in;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    background-color: #111111;
    color: #fff;
}

.collapsible-header {
  position: absolute;
  top: 2px;
  right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  margin-top: 10px;
}
.graph {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 320px;
  height: 50%;
  margin-top: 40px;
  margin-right: 5px;
  padding-bottom: 10px;
  background-color: black;
  border: solid;
  border-color: grey;
}

@media (max-width: 500px) {
  .graph {
    width: 80%;
    height: 35%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }
}


.collapsible-header h3 {
  margin: 0;
}

.collapsible-header span {
  font-size: 15px;
}

.collapsible-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}


.top-right {
  position: absolute;
  top: 10px;
  right: 20px;
}
.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  margin: 20px;
  background-color: #111111;
}
#timerCircle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
  border: 5px solid rgba(255, 255, 255, 0.3); /* Keeps static border */
}

#innerCircle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}


#timerCircle span {
  z-index: 1;
}


#time {
    font-size: 48px;
}
#bePresent {
    font-size: 13px;
    color: #ccc;

}

.controls button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.controls button:hover {
    background-color: #fff;
    color: #000;
}

.button-icon svg {
        fill: #fff; /* Default fill color */
        transition: fill 0.3s;
}
.button-icon:hover svg {
        fill: #000; /* Inverted fill color */
}

#logContainer {
    margin-top: 20px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

#logContainer table {
    border-collapse: collapse;
    width: 100%;
}

#logContainer th, #logContainer td {
    border: 1px solid #ffffff;
    padding: 5px;
    text-align: center;
    color: #ffffff;
}
#logContainer td {
    width: 40px;
    white-space: nowrap;

}

.warning {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}
